[submodule "xptools"]
	path = xptools
	url = git@github.com:azonenberg/xptools.git
[submodule "log"]
	path = log
	url = https://github.com/azonenberg/logtools.git
[submodule "graphwidget"]
	path = graphwidget
	url = git@github.com:azonenberg/graphwidget.git
