[submodule "xptools"]
	path = xptools
	url = https://github.com/azonenberg/xptools.git
[submodule "log"]
	path = log
	url = https://github.com/azonenberg/logtools.git
[submodule "graphwidget"]
	path = graphwidget
	url = https://github.com/azonenberg/graphwidget.git
[submodule "OpenCL-CLHPP"]
	path = OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP.git
