[submodule "xptools"]
	path = xptools
	url = ../xptools.git
[submodule "log"]
	path = log
	url = ../logtools.git
[submodule "VkFFT"]
	path = VkFFT
	url = ../VkFFT.git
[submodule "canvas_ity"]
	path = canvas_ity
	url = git@github.com:a-e-k/canvas_ity.git
